*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}
.search{
  display: inline-block;
  top: 0;
  background: #fff;
  margin: 200px auto 0;
  border-radius: 5px;

}
button{
  background-color: #00008b;
}
.raw{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.search input{
 padding: 8px;
 border: 1px solid 3ddd;
 outline: none;
 border-radius: 5px;
 margin-left: 10px;
 width: 100%;
 font-size: 16px;

}
.search button{
  padding: 6px;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
}
nav{
  width: 100%;
  height: 75px;
  background-color: #53698f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.menu{
  width: 65%;
  display: flex;
  justify-content: right;
  list-style: none;
}
.menu li{
  margin-left: 20px;
}
.menu li a{
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  transition: o.3s ease;
}
.menu li a:hover{
  color: #ccc;
}

.search input:hover{
  border: 1px solid #72a0d4;
}

body{
  min-width: 320px;
  background: #fff;
  font-family: #00008b, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #13263F;
  letter-spacing: 0.02em;
}